:root{
    --color-dark: rgb(83, 40, 15);
    --color-light: rgb(196, 156, 83);
}
*{
    margin: 0;
	padding: 0;
}
body
{
	background: var(--color-light);
    background: linear-gradient(to top left,var(--color-dark), var(--color-light));
	font-family: Helvetica, sans-serif;
}
h2
{
	text-align: center;
	margin-left: 190px;
}
a:link
{
	color: white;
}
a:visited
{
	color: white;
}
.koszykbtn
{
	clear:right;
	size: 100px;
	transition-duration: 0.4s;
	padding: 20px;
	border-radius: 12px;
	display: block;
	cursor: pointer;
	float:right;
}
.przyciski
{	
	text-align: center;
	margin-left: 550px;
	height: 65px;
	width: 40%;
	background-color: transparent;
	size: 100px;
	transition-duration: 0.4s;
	padding: 20px;
	border-radius: 12px;
	float:left;
}
.button {
	font-size: 15px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 30px;
}

.button:hover {
    background-color: #01ffd5;
}
.przycisk_rozwijany {
    position: relative;
    display: inline-block;
    font-size: 140%;
    cursor: pointer;
}
.lista {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    text-align: left;
}

.przycisk_rozwijany:hover .lista {
    display: block;
    cursor: pointer;
}
.przycisk_rozwijany:hover .lista {
    display: block;
    cursor: pointer;
}
#ul1
{
    list-style-type: none;
    background:linear-gradient(
        to right,
        rgba(255, 255, 255, 0.10),
        rgba(255, 255, 255, 0.25)
    );
    width: 1000px;
    border: 1px solid;
    border-radius: 25px;
    padding: 40px;
    margin-left: 400px;
    float:left;
}
.ul2
{
    clear: both;
    margin-left: 130px;
    text-align: left;
    list-style-type: initial;
}
.btn
{   
    margin-left: 280px;
    background-color: initial;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

.btn:not([disabled]):hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

img
{
    margin-left: 25px;
    border-radius: 25px;
}
.towar 
{
    border:1px solid;
    border-radius: 25px;
    padding: 10px;
    margin-left: 35px;
    margin-top: 20px;
    text-align: center;
    float:left;
}
main
{
    height: 950px;
    float:left;
}
footer
{
    clear: both;
    text-align: center;
}
h1
{
    text-align: center;
}
.koszykbtn
{
	clear:right;
	size: 100px;
	transition-duration: 0.4s;
	padding: 20px;
	border-radius: 12px;
    color:white;
	display: block;
	cursor: pointer;
	float:right;
}